body, html {
    background-color: #F7F8FA;
!important;
}

a:hover {
    text-decoration: none;
}

#app {
    min-height: 100vh;
}

.main-content {
    margin: 20px 0;
    padding: 10px 20px;
}

.border-radius > img {
    border: 1px solid #00d1b2;
    border-radius: 10px;
}

.new-action {
    margin-bottom: 20px;
}

.topics {
    margin-bottom: 10px;
}

.user-statics {
    margin-top: 20px;
    display: flex;
}

.question-statics {
    display: flex;
}

.statics-item {
    padding: 2px 20px;
    text-align: center;
}

.statics-text {
    color: #8590a6;
}

.statics-count {
    text-align: center;
}

.user-name-a {
    color: #222;
}

.no-like-a {
    color: #000;
}

.question-head > li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}
